/*  Todo lo que necesitas para que tu landing-page quede rechulona! */
/* https://www.youtube.com/watch?v=dw7c2mksw5g */

/* Con una línea solucionamos los estilos del navbar (incluyendo cosas generales), los proyectos, 
   los servicios, el cta y el footer. ¡El CSS es fácil pregúnteme como!*/
/* https://www.youtube.com/watch?v=RVmG_d3HKBA */

@import url("./components/nav-bar.css");
@import url("./components/three-cards.css");
@import url("./components/cta.css");
@import url("./components/footer.css");

/* la parte del navbar está en navbar.css */

/* La parte del chico empoderado que es nuestro HÉROE */
/* https://www.youtube.com/watch?v=bWcASV2sey0*/

.content {
    flex-direction: column;
    justify-content: center;
}

.empower {
    color: var(--neutral-dark);
}

.circle {
    color: var(--neutral-medium);
    margin: 5% 0 10%;
}

.button-bw p {
    display: inline-block;
    margin-left: 5%;
    color: var(--neutral-medium);
}

.images {
    position: relative;
}

[id*="card-"] {
    width: 50%;
    position: absolute;
}

[id*="card-"] > img {
    object-fit: cover;
}

#card-2 {
    bottom: -15%;
    right: -5%;
    animation: mover-derecha-delay-50 6s ease-in;
}

#card-1 {
    top: 0;
    left: -5%;
    animation: mover-izquierda-delay-50 6s ease-in;
}

/* La parte de las BRANDS */
/* https://www.youtube.com/watch?v=OutlyuZFOWM*/

#client {
    padding-top: 70px;
    align-items: center;
    justify-content: space-between;
}

#client img {
    filter: grayscale(1);
    width: 150px;
    height: 96px;
}

.brands {
    display: flex;
    justify-content: space-around;
    min-width: 40%;
}

.amazon {
    width: 20%;
}

/* la parte de proyectos es three-cards.css */

/* La parte de los testimonios */
/* https://www.youtube.com/watch?v=2U6gingZ1lU */

#testimonial {
    background-color: var(--neutral-dark);
    background-image: url("../images/testimonial-section/orbit.png");
    background-size: cover;
    height: 622px;
    position: relative;
    margin: 200px auto 200px !important;
    width: 90%;
}

#Ed,
#Angela,
#Mattew,
#Kim {
    position: absolute;
    width: 150px;
    height: 150px;
    animation: rotate 6s 5s ease-in;
}

#Ed, #Angela{
    left: 85%;
}

#Ed, #Kim{
    top: 51px;
}

#Angela, #Mattew {
    top: 399px;
}

#Mattew, #Kim{
    left: 5%;
}

.memojis-box{
    position: absolute;
    max-width: 1100px;
    height: 382px;
    left: 10%;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;

}

.yellow-text{
    max-width: 596px;
    color: var(--secondary);
    line-height: 160%;
    text-align: center;
}

.neutral-light-text{
    max-width: 621px;
    color: var(--background);
    text-align: center;
}

.bolita{
    background-image: url(../images/testimonial-section/profile.png);
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.aparta-bola{
    margin-left:10%;
    width: 130px;
}

#testimonial .title{
    color: var(--primary-hover);
    
}

#testimonial .subtitle{
    color: var(--background);
}

/* la parte de services es three-cards.css */
/* la parte de cta está en cta.css */
/* la parte de footer está en footer.css */

/* I feel like this NEVER ENDING, pero esto es el final... */
/* https://www.youtube.com/watch?v=pyHh1nZnNUQ */
