/*  Todo lo que necesitas para que tu landing-page quede rechulona! */
/* https://www.youtube.com/watch?v=dw7c2mksw5g */

/* Con una línea solucionamos los estilos del navbar, ¡el CSS es fácil pregúnteme como!*/
/* https://www.youtube.com/watch?v=RVmG_d3HKBA */

@import url("./nav-bar.css");

html{
    min-width: 100%; 
    background-color: var(--background);
    padding: 0 calc(50% - 550px)
}

/* La parte del chico empoderado que es nuestro HÉROE */
/* https://www.youtube.com/watch?v=bWcASV2sey0*/

#hero{
    display: flex;
    background-color: var(--background);
    padding-top:70px;
    max-width: 1100px;
}

.content{
    display: flex;
    max-width: 530px;
    flex-direction: column;
    justify-content:center;
}

.empower{ margin-bottom: 5%;}

.circle{ margin-bottom: 5%;}

.button-bw p{ display:inline-block}

.images{
    position:relative;
    width:max-content;
}

[id*="card-"]{
    width: 50%;
    position: absolute;
}

[id*="card-"] > img{ object-fit: cover;}

#card-2{
    bottom:-15%;
    right:-25%;
}

#card-1{
    top:0;
    left:-15%;
}

/* La parte de las BRANDS */
/* https://www.youtube.com/watch?v=OutlyuZFOWM*/

