/* Importamos las fuentes, que en realidad es ROBOTO solo */
/* https://www.youtube.com/watch?v=qORYO0atB6g*/

@import url('../Roboto/roboto.css');

/* Definimos los colores en la raíz del proyecto */
/* https://www.youtube.com/watch?v=e4RMh7NLHPY */

:root {
    --marine: #072AC8;
    --cyan: #43D2FF;
    --light-cyan: #A2D6F9;
    --x-light-cyan: #D1EDFF;
    --xx-light-cyan: #ECF7FF;
    --navy: #292E47;
    --grey: #6B708D;
    --light-grey: #F2F4FC;
    --yellow: #FFC600;
    --background: #F4F6FC;
}

/* Adaptamos las fuentes a las medidas del proyecto... changing */
/* https://www.youtube.com/watch?v=RSNmgE6L8AU */

.c-h1, .c-h2, .c-h3, .c-h4, .bd-med, .bd-reg, .hd-med, .hd-reg, .cap-1, .cap-2{
    font-family: 'Roboto';
    font-style: normal;
} 

.c-h1, .c-h2, .c-h3, .c-h4 {font-weight: 700;}

[class*="-med"]{font-weight: 500;}

[class*="-reg"], [class*="cap-"]{
    font-weight: 400;
    line-height: 150%;
}

.c-h1{
    font-size: 60px;
    line-height: 70px;
}

.c-h2{font-size: 50px;}

.c-h3{
    font-size: 40px;
    line-height: 47px;
}

.c-h4{font-size: 24px;}

.bd-med{
    font-size: 24px;
    line-height: auto;
}

.bd-reg{font-size: 20px;}

.hd-reg, .hd-med{font-size: 17px;}

.hd-med{line-height: 130%;}

.cap-1{
    font-size: 15px;
    line-height: 130%;
}

.cap-2{
    font-size: 13px;
    line-height: 15px;
}

/* But in the end It doesn't even matter*/
/* https://www.youtube.com/watch?v=eVTXPUF4Oz4 */