/* ¡Tu CSS ahora CON BULMA! */
/* https://www.youtube.com/watch?v=ra-Bl1iYG7g */

@import url("../bulma/css/bulma.css");

/* ¡Y solo para las primeras llamadas las fuentes y colores definidas en el proyecto!*/
/* https://www.youtube.com/watch?v=fsQiHTSpiYw*/

@import url("./colors-fonts.css");

/* ¡Ahora con animaciones!*/
/*  */

@import url("./animations.css");

html {
    background-color: var(--background);
}

.background {
    background-color: var(--background);
}

body {
    width: 100%;
}

.section-1100 {
    width: 80%;
    max-width: 1100px;
}

section {
    margin: 100px auto 150px !important;
    width: 90%;
    max-width: 1320px;
}

/* Todo lo que necesitas para hacerte tu propio navbar ¡A NAVEGAR!*/
/* https://www.youtube.com/watch?v=m8OlDPqYBLw */

.navbar-1 {
    margin-top: 70px;
    max-width: 1100px !important;
}

.navbar-li {
    justify-content: space-between;
    margin-left: 25%;
}

.navbar-li a {
    color: var(--neutral-medium);
    margin: 0 5%;
}

.navbar-li a:hover {
    background-color: inherit;
}

.navbar-li a:first-child {
    color: var(--primary-default);
}

.logo {
    width: 60.53px;
    height: 18.46px;
    animation: bright-boom 3s ease-out;
}

.button-bw {
    height: fit-content;
}

.button-bw a {
    color: white;
    background-color: var(--primary-default);
    padding: 15px 37px;
    gap: 10px;
    animation: palpitate 1.5s linear infinite;
}

.button-bw a:hover {
    background-color: var(--neutral-medium);
}

/* "This is the end, my only friend, THE END"*/
/* https://www.youtube.com/watch?v=VScSEXRwUqQ*/
